LENS_SECRET_KEY=replace-with-a-long-random-value
LENS_REPO_DIR=/mnt/nas/websites/lens-on-security/repository
LENS_DRAFT_DIR=/mnt/nas/websites/lens-on-security/drafts
LENS_ALLOWED_NETWORKS=10.47.12.0/24,192.168.4.0/24
LENS_GIT_BRANCH=main
LENS_GIT_REMOTE=origin
LENS_GIT_SSH_KEY=/etc/lens-publisher/github-deploy-key
LENS_GIT_KNOWN_HOSTS=/etc/lens-publisher/github-known-hosts
